/*---------------------
  Hero
-----------------------*/
.hero {
  padding: 140px 0;
}

.hero__text {
  padding-top: 110px;
}

.hero__text .primary-btn {
  margin-right: 16px;
}

.hero__text .primary-btn img {
  position: relative;
  top: -2px;
}

.hero__text .primary-btn.more-btn {
  background: transparent;
  border: 1px solid #ffffff;
}

.hero__text__title {
  margin-bottom: 28px;
}

.hero__text__title span {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__text__title h2 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 10px;
}

.hero__text__price {
  position: relative;
  padding-left: 140px;
  margin-bottom: 55px;
}

.hero__text__price .car-model {
  font-size: 13px;
  color: #323232;
  font-weight: 700;
  display: inline-block;
  padding: 6px 14px;
  background: #ffffff;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
}

.hero__text__price h2 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  line-height: 45px;
}

.hero__text__price h2 span {
  font-size: 40px;
}

.hero__tab .nav-tabs {
  border-bottom: none;
}

.hero__tab .nav-tabs .nav-item {
  margin-bottom: 5px;
  margin-right: 5px;
}

.hero__tab .nav-tabs .nav-item .nav-link {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: #323232;
  display: inline-block;
  padding: 7px 20px;
  border: none;
  border-radius: 2px;
  background: #ffffff;
}

.hero__tab .nav-tabs .nav-item .nav-link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  left: 0;
  bottom: -7px;
  opacity: 0;
  background: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__tab .nav-tabs .nav-item .nav-link.active:after {
  opacity: 1;
  bottom: -7px;
}

.hero__tab__form {
  background: #ffffff;
  padding: 42px 40px 50px;
  border-radius: 2px;
}

.hero__tab__form h2 {
  color: #323232;
  font-weight: 700;
  margin-bottom: 22px;
}

.hero__tab__form form .select-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -20px;
}

.hero__tab__form form .select-list .select-list-item {
  max-width: calc(50% - 20px);
  float: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero__tab__form form .select-list .select-list-item p {
  color: #323232;
  margin-bottom: 5px;
}

.hero__tab__form form .select-list .select-list-item .nice-select {
  width: 100%;
  height: 40px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
}

.hero__tab__form form .select-list .select-list-item .nice-select .list {
  width: 100%;
  border-radius: 0;
  margin-top: 0;
}

.hero__tab__form form .select-list .select-list-item .nice-select.open span {
  display: block !important;
}

.hero__tab__form form .select-list .select-list-item .nice-select:after {
  display: none;
}

.hero__tab__form form .car-price {
  margin-bottom: 45px;
}

.hero__tab__form form .car-price p {
  color: #323232;
  margin-bottom: 5px;
  margin-bottom: 12px;
}

.hero__tab__form form .car-price .price-range-wrap {
  position: relative;
}

.hero__tab__form form .car-price .price-range-wrap .ui-widget-content {
  height: 5px;
  background: rgba(45, 45, 45, 0.1);
  border: none;
  border-radius: 1px;
}

.hero__tab__form form .car-price .price-range-wrap .ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -4px;
}

.hero__tab__form form .car-price .price-range-wrap .ui-slider .ui-slider-handle {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.hero__tab__form form .car-price .price-range-wrap .ui-state-default,
.hero__tab__form form .car-price .price-range-wrap .ui-widget-content .ui-state-default,
.hero__tab__form form .car-price .price-range-wrap .ui-widget-header .ui-state-default,
.hero__tab__form form .car-price .price-range-wrap .ui-button,
.hero__tab__form form .car-price .price-range-wrap html .ui-button.ui-state-disabled:hover,
.hero__tab__form form .car-price .price-range-wrap html .ui-button.ui-state-disabled:active {
  border: 1.5px solid #db2d2e;
}

.hero__tab__form form .car-price .price-range-wrap .ui-slider .ui-slider-range {
  background: #db2d2e;
}

.hero__tab__form form .car-price .price-input {
  position: absolute;
  left: 89px;
  top: -36px;
}

.hero__tab__form form .car-price .price-input input {
  font-size: 15px;
  color: #323232;
  font-weight: 700;
  border: none;
  width: 180px;
}
/*# sourceMappingURL=hero.css.map */